//
// Panels
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
.panel {
  position: relative; // required for drop shadows, generated content and other effects
  min-height: @baseLineHeight;
  padding: 0 @baseLineHeight 40px;
  margin: @baseLineHeight 0;
  background-color: @panelBackgroundColor;
  border: 1px solid @panelBorderColor;
  .border-radius(5px);
  .box-shadow(inset 0 0 0 1px @white);
  .box-sizing(border-box); //
}
.panel .panel {
  margin: 0; // remove padding for nested panels
}


.panel-flush {
  margin-top: -30px;
  padding-top: 30px;
  border-top: none;
  .border-radius(0);
  .box-shadow(0 2px 12px rgba(0,0,0,.1));
}

.jumbotron + .container > .panel-flush {
  padding-top: 0;
  border-top: 1px solid rgba(0,0,0,.15);
}

.panel-header {
  border-bottom: 1px solid #eee;
  margin: 0 -20px 18px;
  padding: 0 @baseLineHeight 18px;
}


// Panel Sizes
// --------------------------------------------------

// Large
.panel-large {
  padding: (@baseLineHeight * 1.5);
  .border-radius(8px);
}
// Small
.panel-small {
  padding: 9px;
  .border-radius(3px);
}


